*{
  padding: 0%;
  margin: 0%;
}

:root{
  --bg-header: #874CF4;
}

body {
  font-family: 'poppins', sans-serif;
  background-image: url(images/violet.jpg);
}

.photo {
  width: 100px;
  height: 100px;
}

.form{
  display: flex;
  text-align: center;
  padding: 1%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding: 2%;
}


/*Version desktop*/
@media (min-width: 1024px) {
  .desc{


}
}




